#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.title-text {
  margin-top: 20px;
}

.text-input textarea {
  resize: none;
}

.text-output {
  white-space: pre-wrap;
  margin-top: 20px;
  border: 1px solid #777474c7;
}



