#root {
  margin: 0;
  padding: 2rem;
  text-align: center;
}

.title-text {
  margin-top: 20px;
}

.text-input {
  resize: none;
  width: 40%;
  padding: 8px;
  box-sizing: border-box;
}

.text-output {
  white-space: pre-wrap;
  margin-top: 20px;
  border: 1px solid #777474c7;
}



